.parent-of-model {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.500);
  display: flex;
  align-items: center;
  justify-content: center;

}
.modal {
  background-color: whitesmoke;
  width: 400px;
  height: 333px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  transition: 1s;

  scale: 1;
  transform: translateY(0);
}